**/rspec*.xml
**/*.swp
**/vendor
**/ubuntu-*-cloudimg-console.log

.vagrant

terraform/.terraform
terrafrom/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/backend_terraformscaffold.tf

puppet/spec/fixtures/modules
puppet/pkg
puppet/Puppetfile.lock
puppet/.tmp
puppet/.librarian
puppet/.out
puppet/modules
puppet/.rake_tasks~
